
body {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    // overflow: hidden;
}

.LeftImg {
    position: relative;
    flex:1;
    background: no-repeat url(./img/P1070298.JPG) center black;
}

.rightSide {
    flex:2;
    display: flex;
    flex-direction: column;
}

.header,.footer {
    flex: 1 1 0;
    background-color: #eee;
}
.form {
    z-index: 1001;
    padding: 1rem;
    background-color: #fff;
    flex: 1 1 0;
    box-shadow: 2px 2px 6px gray;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    height: 1.1rem;
    width: 12rem;
    border: 2px solid #eee;
    border-radius: 4px;

    &:focus {
        // background-color:  cadetblue;
        outline: 1px solid rgb(59, 59, 255) ;
        box-shadow: 3px 3px 3px #bbb;
        outline-style: groove;
    }

    &:user-invalid {
        outline: 1px solid red;
    }


}

fieldset {
    border: none;
}

legend {
    padding-left: 20%;
}

.fullScreenRow {
    margin: 1rem 5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.signUpBtn {
    background-color: gray;
    border: none;
    height: 40px;
    width: 120px;
    // margin: 0 auto;
    border-radius: 8px;
    box-shadow: 2px 2px 3px gray;

    &:hover {
        background-color: grayscale($color: #ccc3c3);
    }
}

.fullScreenRow:has(button) {
    padding: 1rem;
    flex-direction: column;
    & a {
        color:cornflowerblue;
    }

}
.headerStatement {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 800;
    font-size: 1.1rem;
}
.headerStatementScreen {
    display: none;
}

.logoInImg {
    background: center/100px url(./img/noun-buddha-1764298.png) gray no-repeat ;
    min-height: 100px;
    opacity: 40%;
    position: relative;
    top: 75%;
}
.sign {
    text-wrap:nowrap;   
    margin: 0;
    position:absolute;
    bottom:1px;
    right: 8px;
    color:white;
    font-size: .8rem;
}
.input:has(#confirmPassword) {
    position: relative;
}

.passErrorMsg {
    position:absolute;
    top: 45px;
}


@media only screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }
    .fullScreenRow {
        display: flex;
        flex-flow: column;
        margin: 1rem;
        gap: 1rem;

    }

    .haveAccount {
        color: white;
    }


    .LeftImg {
        display: none;
    }

    .footer {
        background: url(./img/P1070298.JPG) 100% 85%;
    }

    .header {
        background: url(./img/P1070298.JPG) 100% 25%;
    }

    .headerStatement {
        display: none;
    }

    .headerStatementScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: auto auto;
        font-weight: 800;
        font-size: 1.1rem;
        color: white;
        height: 100%;
    }


}