
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.LeftImg {
    flex:1;
    background: url(./img/P1070298.JPG) center;
}

.rightSide {
    flex:2.5;
    display: flex;
    flex-direction: column;
}

.header,.footer {
    flex: 1;
    background-color: #eee;
}
.form {
    z-index: 1001;
    padding: 2rem;
    background-color: beige;
    // height: max-content;
    flex: 0 1 auto;
    box-shadow: 2px 2px 6px gray;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 12rem;
}

fieldset {
    border: none;
}

.fullScreenRow {
    margin: 2rem 5rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


@media only screen and (max-width: 600px) {
    .fullScreenRow {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .LeftImg {
        display: none;
    }

    .footer {
        background: url(./img/P1070298.JPG) bottom;
    }

    .header {
        background: url(./img/P1070298.JPG) top;
    }

}